@import "tailwindcss";
@reference "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    @apply w-full;
}

body {
    @apply m-0 flex h-screen;
}

.app-table th, .app-table td {
    @apply border border-gray-900 border-collapse;
}

.app-button {
    @apply cursor-pointer py-1 px-2 h-10;
    @apply border-2 rounded-sm;
    @apply outline-none;
    @apply transition-all duration-300 ease-in;
}

.app-input {
    @apply text-lg px-1 rounded-sm border-2 border-violet-100 outline-none;
    @apply hover:bg-violet-100 hover:border-violet-200 focus:border-violet-300;
    @apply transition-all duration-300 ease-in;
}

.app-input.invalid {
    @apply border-red-500 bg-red-200 hover:bg-red-300;
}

.required-field-title {
    @apply after:content-['*'] after:ml-0.5 after:text-red-500;
}
